<h1>NEW USER</h1>

<%= form_for(@users) do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password_digest %>
    <%= f.text_field :password_digest %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>