<h2><%= @picture.title %> | <%= @picture.artist %></h2>
<%= link_to("Back to Pictures", "/pictures") %>

<% if current_user && @picture.user_id == current_user.id %>
 | <%= link_to("Edit", "/pictures/#{@picture.id}/edit") %> | <%= link_to("Delete", "/pictures/#{@picture.id}", method: :delete, data: {confirm: "Are you sure you want to delete this picture?"})  %>
<% end %>
<br />
<img src="<%= @picture.url %>">